<!DOCTYPE html>
<html>
<head>
    <title>Spotify Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Correlação entre Ano de Lançamento e Presença nas Playlists do Spotify</h1>
    <div>
        {{ graph_html | safe }}
    </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Total de Execuções por Artista</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Total de Execuções por Artista</h1>
    <div>
        {{ graph_html | safe }}
    </div>
</body>
</html>
